n8n/workflow.json
{
  "name": "Export Kanban Backlog",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kanban-export",
        "responseMode": "lastNode"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "requestMethod": "GET",
        "url": "http://host.docker.internal:3000/api/tareas",
        "responseFormat": "json"
      },
      "name": "Get Tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "functionCode": "// Filtra y selecciona campos según parámetros recibidos\nconst column = $node['Webhook'].json.body.column;\nconst fields = $node['Webhook'].json.body.fields;\nlet tasks = $json;\nif (column) {\n  tasks = tasks.filter(t => t.columna === column);\n}\nif (fields && Array.isArray(fields) && fields.length > 0) {\n  return tasks.map(item => {\n    const filtered = {};\n    fields.forEach(f => filtered[f] = item[f]);\n    return filtered;\n  });\n}\nreturn tasks;"
      },
      "name": "Filtrar y Seleccionar Campos",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "mode": "writeFromJson",
        "fileFormat": "csv",
        "putOutputFileInField": "data",
        "fields": [],
        "fileName": "backlog.csv",
        "headerRow": true
      },
      "name": "CSV",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [800, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@kanban-app.com",
        "toEmail": "={{$node[\"Webhook\"].json[\"body\"][\"userEmail\"]}}",
        "subject": "📊 Exportación de Tareas - Tablero Kanban",
        "text": "={{$node[\"Webhook\"].json[\"body\"][\"mensaje\"] ? $node[\"Webhook\"].json[\"body\"][\"mensaje\"] : `Hola ${$node[\"Webhook\"].json[\"body\"][\"userName\"]}, aquí tienes el resumen de tu tablero Kanban con el archivo CSV adjunto.`}}",
        "attachments": [
          {
            "binaryPropertyName": "data",
            "fileName": "kanban-tareas-{{$now.format('YYYY-MM-DD')}}.csv"
          }
        ]
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [1000, 300],
      "credentials": {
        "smtp": { "name": "Mailtrap" }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Get Tasks", "type": "main", "index": 0 }]]
    },
    "Get Tasks": {
      "main": [[{ "node": "Filtrar y Seleccionar Campos", "type": "main", "index": 0 }]]
    },
    "Filtrar y Seleccionar Campos": {
      "main": [[{ "node": "CSV", "type": "main", "index": 0 }]]
    },
    "CSV": { "main": [[{ "node": "Send Email", "type": "main", "index": 0 }]] }
  }
}
